
/* PADRONIZAÇÃO DAS CORES REFERENCIA */
.cor1{
    cor:#8A5922;
}
.cor2{
    cor:#806546;
}
.cor3{
    cor:#CCA170;
}
.cor4{
    cor:#FFC98C;
}
.cor5{
    cor:#FFEDD9;
}

/* FONTE */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');


/* Container */

body {
    margin: 0em;
	padding: 0em;
    font-family: sans-serif, 'Open Sans';
	font-size: 2em;
    color: #4e4e4e;
    background: #f5f5f5;
    min-width: 1200px;
}

h1, h2, h3 {
	padding: 0 0 1em 0;
    font-family: 'Montserrat', sans-serif, 'Open Sans';
	font-weight: 400;
	color: #353535;
}

h2
{
	letter-spacing: -1px;
	font-size: 2.00em;
}

p, ol, ul
{
	margin-top: 1em;
}

p
{
    font-size: 1rem;
	line-height: 1.75em;
}

a
{
	text-decoration: underline;

}

a:hover
{
	text-decoration: none;
}

.bold {
    font-weight: bold;
}

hr{
    border-color: #b3b3b3;
    border-width: 0.01em;
}

label{
    font-size: 1rem;
}


/* Header */

#header
{
    background: #3f140a;
}

#logo {
   text-align: center;
   background: #fff;
   padding: 0.5em 0em !important;
}

#nav ul {
    text-align: center;
    padding: 0 0 0.5em 0 !important;
    margin-top: 0px !important;
}


#nav li {
    display: inline-block;
}

#nav a {
    display: block;
    float: left;
    padding: 2.00em 1.5em 0em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif !important;
    font-size: 0.5em;
    font-weight: 300;
    color: #FFFFFF;
}
#nav a:hover{
    text-shadow: 2px 2px black;
}

/* Header Wrapper */

#header-wrapper
{
    overflow: hidden;
    margin-bottom: 1em;
    /* box-shadow: inset 0 -10px 20px -10px rgba(0,0,0,.30); */
}

#wrapper
{
    overflow: hidden;
    padding: 0em 0em 3em 0em;
    background: transparent !important;
    /* box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .05); */
}


/* Banner */
 
#banner a img
{
    display: block;
    width: 100%;
}

/* Page */

#page
{
    overflow: hidden;
    padding: 5em 0em 0em 0em;
}

.homepage #page
{
    padding: 1em 0em 0em 0em;
}

.text-top-banner{
    font-size: 1.5em;
    text-align: center;
    color: #3f140a;
    font-family: sans-serif, 'Open Sans';
}

.text-banner{
    position: absolute;
    width: 9em;
    height: 9em;
    color: white;
    top: 3.2em;
    left: 2em;
    text-align: center;
    padding: 1em;
    background: #3f140a7d;
    border-radius: 65px;
   
}

/* Copyright */

#copyright
{
    overflow: hidden;
    padding: 2em 0em 2em 0em;
    background-color: #8A5922;
    text-align: center;
    font-size: 1em;
    color: #949494;
    margin-top: 1em;
}

#copyright a
{
    color: steelblue;
    text-shadow: 1px 1px 0px #FFFFFF;
}

#copyright p
{
    color: white;
}

/* #copyright a:hover
{
    text-decoration: none;
} */

table, th, td {
    font-size: 1.5rem;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: center;    
  }